.burger {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
}

.element {
  width: 100%;
}

.icon_visible {
  visibility: visible;
  cursor: move;
}

.icon_hidden {
  visibility: hidden;
}
