/* Стили для заголовка */
.header {
  width: 100%; /* Ширина равна 100% от родительского контейнера */
  min-height: 64px; /* Минимальная высота 64 пикселя */
  display: flex; /* Используем flexbox для управления расположением дочерних элементов */
  justify-content: flex-end; /* Выравнивание по концу (справа) */
  align-items: center; /* Выравнивание по центру по вертикали */
}

/* Стили для заголовка страницы (например, название сайта) */
.title {
  margin-right: auto; /* Отступ справа будет автоматически рассчитан, чтобы максимально использовать доступное пространство */
}

/* Общие стили для кнопок */
.btn {
  justify-self: end; /* Выравнивание кнопки по концу (справа) внутри родительского контейнера */
  height: 64px; /* Высота кнопки 64 пикселя */
  cursor: pointer; /* Индикатор указателя мыши, чтобы пользователь понимал, что элемент можно кликнуть */
}
